body {background-color: rgb(201, 132, 68);}
.i{display: inline-block;
justify-self: center;
border: rgb(32, 20, 11) 6px solid;
border-radius: 15px;}
img{width: 180px;
height: 180px;
display: block;
margin-left: auto;
margin-right: auto;}
